<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/Template/Pluginstats/stats.css" />
    <link rel="preload" href="{{pluginResources}}/font/萝莉体.ttf" as="font" />
</head>

<body id="body" style=transform:scale(1)>
    <div class="container">
        <div class="header">
            <div class="title">全插件统计</div>
            <div class="subtitle">
                <span class="stats-type">『{{statsType}}』统计情况<可能不准确请自行区别></span>
                <span class="stats-time">统计截止于{{statsTime}}</span>
            </div>
        </div>

        <div class="stats-list">
            {{each statsList item}}
            <div class="stats-item {{item.rank <= 10 ? 'top-rank' : ''}}">
                <div class="rank">{{item.rank}}</div>
                <div class="name">『{{item.name}}』</div>
                <div class="count">触发 {{item.count}} 次</div>
            </div>
            {{/each}}
        </div>

        <div class="footer">
            共 {{total}} 个功能 • 仅显示前50名
            <div id="copyright">{{@copyright}}</div>
        </div>
    </div>
</body>
</html>